.beta-requests-header {
  display: flex;
  padding-bottom: 24px;
  justify-content: space-between;
  align-items: center;

  &__breadcrumbs {
    padding: 7px 0 4px 0;
  }

  &__title {
    color: #000000;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
  }

  &__statistic {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 7, 123, 0.02),
      0 4px 8px 0 rgba(0, 0, 0, 0.03);
    padding: 11px 6px 0px 14px;
  }
}
