.breadcrumbs {
    padding: 0;
    margin: 0;

    &__item {
        display: inline-block;
        list-style-type: none;

        &:after {
            content: '';
            width: 7px;
            height: 1px;
            display: inline-block;
            margin-left: 1px;
            margin-right: 5px;
            vertical-align: middle;
            background-color: #a8a8a8;
        }

        &:last-child:after {
            display: none;
        }
    }

    &__link {
        text-decoration: none;
        -webkit-text-stroke: 1px rgba(48, 82, 208, 0.2);
        font-size: 12px;
        line-height: 1.67;
        color: #141414;

        &--active {
            color: #a8a8a8;
        }
    }

}