.constructor {
  padding: 12px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f7f9fc 26%,
    #f7f9fc 67%,
    #ffffff
  );
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 7, 123, 0.02);

  &__company-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    display: none;
    width: 26px;
    height: 26px;
    border-radius: 25px;
    margin-right: 8px;
  }

  &__trip-num {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.9px;
    color: #0073ff;
    margin-right: 4px;
    border-bottom: 1px solid rgba(0, 115, 255, 0.16);
    cursor: pointer;
  }

  &__time-block {
    margin-right: 6px;
    display: flex;
    flex-direction: column;
  }

  &__time {
    font-size: 14px;
    font-weight: 500;
    line-height: 0.89;
    color: #0073ff;
  }

  &__date {
    color: #8d93a6;
    font-size: 11px;
    line-height: 1.18;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }

  &__departure {
    padding-bottom: 8px;
  }

  &__total-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 6px;
  }

  &__svg-clock {
    width: 16px;
    height: 16px;
    margin-right: 2px;
    color: #0073ff;
  }

  &__time-text {
    font-size: 13px;
    line-height: 0.89;
    color: #0073ff;
  }

  &__price {
    font-size: 16px;
    font-weight: 500;
    line-height: 0.89;
    text-align: right;
    color: #0073ff;
  }

  &__currency {
    font-size: 14px;
    font-weight: 500;
  }

  &__per-person {
    color: #62687f;
    font-size: 11px;
    line-height: 1.18;
    letter-spacing: 0.4px;
    text-align: right;
    padding-bottom: 4px;
  }

  &__selected {
    height: 32px;
    padding: 0 2px;
  }
}
