.directions-list {
  background-color: #fff;
  padding-top: 14px;

  &__footer {
    padding-top: 16px;
  }

  &__btn {
    height: 32px;
    margin-top: 8px;
    padding: 0 16px;
  }
}
