.hotel-photo {
    background-size: cover;
    background-repeat: no-repeat;

    &__svg-block {
        height: 28px;
        width: 28px;
        background-color: rgba(52, 59, 76, 0.32);
        position: absolute;
        border-radius: 50%;
        top: 50%;
        margin-top: -14px;
        cursor: pointer;
        right: 15px;
        padding: 1px 3px;

        &--left {
            left: 15px;
            right: auto;
            padding: 1px 0;
        }
    }
    &__svg {
        color: #fff;
        width: 24px;
        height: 24px;
    }
    &__amount {
        position: absolute;
        bottom: 23px;
        left: 16px;
        font-size: 11px;
        font-weight: 500;
        color: #fff;
    }
}
