.page {
  height: 100%;
  width: 100%;
  max-width: $container-size;
  padding-top: 25px;
  margin: auto;

  &__container {
    display: flex;

    @media only screen and (max-width: $break-lg) {
      display: block;
    }
  }

  &__sidebar {
    flex: 0 0 25%;
    padding-right: 16px;

    @media only screen and (max-width: $break-lg) {
      display: block;
      padding-right: 0;
    }

    &--hidden-md {
      @media only screen and (max-width: $break-lg) {
        display: none;
        position: fixed;
        background-color: #f4f5f7;
        width: 100vw;
        height: 100vh;
        top: 0;
        z-index: 99999;
        overflow-x: scroll;
        padding: 10%;
      }
    }

    &--open {
      display: block;
    }
  }

  &__sidebar-item {
    margin-bottom: 24px;
  }

  &__sidebar-container {
    padding: 0 16px;
  }

  &__content {
    flex: 0 0 75%;
  }

  &__breadcrumbs {
    margin-bottom: 14px;
  }

  &__sidebar-top {
    margin-bottom: 12px;
  }

  &__sidebar-bottom {
    border-top: 1px solid #dedede;

    @media only screen and (max-width: $break-xl) {
      padding-left: 10px;
    }
  }

  &__frame {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 7, 123, 0.02),
      0 4px 8px 0 rgba(0, 0, 0, 0.03);
    padding: 15px 18px;

    &--gray {
      background-color: #f4f5f7;
    }
  }

  //Flights: choise flights/trains

  &__full-content {
    padding: 0;
    flex: 0 0 75%;
    @media only screen and (max-width: $break-xl) {
      padding-right: 16px;
    }
    @media only screen and (max-width: $break-lg) {
      padding: 0 16px;
    }
  }

  // Checkout: Rail Booking
  &__total-check {
    flex: 0 0 25%;
    padding-left: 24px;

    @media only screen and (max-width: $break-lg) {
      display: block;
      padding-left: 0;
    }

    &--hidden-md {
      @media only screen and (max-width: $break-lg) {
        display: none;
        position: fixed;
        background-color: #f4f5f7;
        width: 100vw;
        height: 100vh;
        top: 0;
        z-index: 99999;
        overflow-x: scroll;
        padding: 10%;
      }
    }

    &--open {
      display: block;
    }
  }

  // header-dropdown
  &__header-dropdown {
    position: absolute;
    position: absolute;
    right: 23px;
    top: 70px;
    z-index: 99;
  }

  &__title {
    font-size: 21px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #141414;
    line-height: 1.2;
    &--pb {
      padding-bottom: 12px;
    }
  }

  &__title32 {
    font-size: 32px;
    line-height: 1.2;
    color: #141414;
    font-weight: bold;
    padding-bottom: 16px;
  }
}
