.roles-list {
  background-color: #fff;

  &__search-sort-row {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 12px 0;
  }

  &__select-block {
    width: 170px;
    margin-right: 8px;
  }

  &__search {
    width: 535px;
    height: 32px;
  }

  &__footer,
  &__deactivation {
    padding-top: 16px;
  }
}
