.spec-field-group {
    display: flex;
    width: 100%;
    border-radius: 3px;
    background: #fff;

    @media only screen and (max-width: $break-md) {
        display: block;
    }

    &__item {
        flex-grow: 1;
        background: none;
        border-radius: 0 !important;

        &:before {
            content: "";
            width: 1px;
            height: 32px;
            background: #dde0e8;
            position: absolute;
            left: 0;
            top: 8px;

            @media only screen and (max-width: $break-md) {
                top: 0;
                left: 16px;
                right: 16px;
                width: auto;
                height: 1px;
            }
        }

        &:first-child {
            &:before {
                display: none;
            }
        }
    }
}