.stars-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &__svg {
    width: 16px;
    height: 16px;
    margin-right: 2px;
    color: #dfe2e6;
    &--blue {
      color: #0073ff;
    }
  }
}
