.tariff {
  $p: &;
  &__row {
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    & #{$p}__table {
      width: 49.5%;
    }
  }

  &__svg {
    width: 16px;
    height: 16px;
  }

  &__table {
    border-spacing: 4px;
    background-color: #eaecf0;
    width: 100%;
  }

  &__table-title {
    padding: 4px 10px 0 10px;
    color: #141414;
    font-size: 16px;
    line-height: 1.23;
    background-color: #eaecf0;
  }

  &__table-cell {
    background-color: #fff;
    padding: 5px 8px;
    color: #000000;
    font-size: 14px;
    line-height: 1.5;
  }

  &__table-cell-btn {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    text-align: center;
  }

  &__table-cell-input {
    background-color: #fff;
    padding: 0;
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000000;
    font-size: 14px;
    line-height: 1.23;
  }

  &__select {
    & .select__field {
      border: none;
    }
    & .select__text {
      color: #000000;
    }
  }
}
