.tariff-setting {
  padding-top: 16px;
  border-top: 1px solid #ecedf0;
  margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px;

  &__search {
    width: 535px;
    margin-bottom: 12px;
  }

  &__footer {
    padding-top: 16px;
  }
}
