.b-hotel-step {
    &__content {
        padding: 0 16px;
    }
    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        color: #141414;
    }
    &__icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        color: #343b4c;
    }
    &__dates {
        font-size: 13px;
        font-weight: normal;
        line-height: 1.23;
        color: #7d7d7d;
    }
    &__duration {
        font-size: 13px;
        line-height: 1.23;
        font-weight: 500;
        color: #141414;
    }
}