.b-train {
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 7, 123, 0.02);
    background-color: #ffffff;
    margin-bottom: 8px;
    position: relative;

    &--open {
        margin-bottom: 24px;
    }

    &__table {
        display: table;
        width: 100%;

        > div {
            display: table-cell;
            padding: 16px 8px;

            &:first-child {
                padding-left: 16px;
            }
            &:last-child {
                padding-right: 16px;
            }
        }
    }

    &__train-info {
        width: 182px;
    }


    &__departure {
        width: 100px;
        text-align: left;
    }


    &__arrival {
        width: 100px;
        text-align: right;
    }


    &__duration {
        padding-left: 40px !important;
        font-size: 13px;
        line-height: 1.23;
        color: #141414;
    }


    &__car-types {

    }
    &__car-type {
        @extend .c-clearfix;
        margin-top: 8px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__car-type-name {
        float: left;
        width: 73px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        line-height: 1.23;
        color: #7d7d7d;
        padding-right: 6px;
    }
    &__car-type-places {
        float: left;
        width: 33px;
        text-align: right;
        font-size: 13px;
        line-height: 1.23;
        color: #a8a8a8;
        padding-right: 6px;

        &--ending {
            color: #ff564e;
        }
    }
    &__car-type-price {
        float: left;
        width: 80px;
        text-align: right;
        font-size: 13px;
        line-height: 1.23;
        color: #7d7d7d;
    }
    &__car-type-price-currency {
        font-size: 11px;
        line-height: 1.09;
        color: #7d7d7d;
    }


    &__price-info {
        text-align: right;
    }

    &__number {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.13;
        color: #141414;
    }
    &__logo {
        max-width: 18px;
        max-height: 18px;
        vertical-align: middle;
    }
    &__route {
        margin-top: 4px;
        display: inline-block;
        font-size: 13px;
        line-height: 1.23;
        color: #7d7d7d;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom: 1px solid rgba(125, 125, 125, 0.16);
    }
    &__vendor {
        margin-top: 4px;
        font-size: 12px;
        line-height: 1.33;
        color: #8d96b2;
    }
    &__time {
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        color: #141414;
    }
    &__station {
        margin-top: 4px;
        font-size: 13px;
        line-height: 1.23;
        color: #7d7d7d;
    }
    &__date {
        margin-top: 4px;
        font-size: 13px;
        line-height: 1.23;
        color: #a8a8a8;
    }
    &__elreg {
        width: 35px !important;
        height: 16px !important;
        position: relative;
        top: -2px;
    }
    &__price {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.09;
        color: #141414;
    }
    &__price-from {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: #141414;
    }
    &__price-currency {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        color: #141414;
    }
    &__price-note {
        font-size: 13px;
        line-height: 1.23;
        text-align: right;
        color: #a8a8a8;
    }
    &__button {
        margin-top: 4px;
        border-radius: 3px;
        background-color: #315efb;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        padding: 8px 12px;
        color: #ffffff;

        &:hover {
            color: #ffffff;
            background-color: darken(#315efb, 10%);
        }
        &:focus {
            color: #ffffff;
        }
    }
    &__button-icon {
        margin-left: 10px;

        &--open {
            @include rotate(180deg);
        }
    }

    &__cars {
        border-top: 1px solid #dddddd;
    }


}