.btn-standard-only-icon {
  color: #343b4c;
  border-radius: 3px;
  height: 32px;
  width: 32px;
  border: 1px solid #dfe2e6;
  background-color: #f4f5f7;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  &__svg {
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: #dfe2e6;
  }
  &:active {
    background-color: #e3eeff;
    border: 1px solid #e3eeff;
    color: #00479f;
  }
  &:disabled {
    background-color: #f4f5f7;
    border: 1px solid #f4f5f7;
    color: #a8a8a8;
  }
}
